@model MessageWithAuthor

@{
    ViewData["Title"] = "Message detail";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="card">
        <div class="d-flex flex-column card-body">
            <h5 class="card-title">@Model.Message.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Author.ToString()</h6>
            <p class="card-text">@Model.Message.Body</p>
            @Html.ActionLink("Delete", "Delete", new { id = Model.Message.Id }, new { @class = "btn btn-sm btn-outline-danger w-25" })
            
        </div>
        <div class="d-flex flex-column align-items-end card-footer">
            <div><small class="text-muted"><strong>Created at:</strong> @Model.Message.FormattedCreatedAt</small></div>
            <div><small class="text-muted"><strong>Updated at:</strong> @Model.Message.FormattedUpdatedAt</small></div>
        </div>
    </div>
</div>